{% if protocols.bgp -%}
    set routing-options autonomous-system {{protocols.bgp.asn}}
    {% for bgp_group, bgp_group_config in protocols.bgp.groups.items() %}
        {% for bgp_var_name, bgp_var_value in bgp_group_config.items() %}
            {% if bgp_var_name != 'neighbors' and bgp_var_name != 'family' -%}
                set protocols bgp {{bgp_group}} {{bgp_var_name}} {{bgp_var_value}}
            {% endif %}
            {% if bgp_var_name == 'neighbors' %}
                {% for neighbor, neighbor_config in bgp_var_value.items() -%}
                    set protocols bgp {{bgp_group}} neighbor {{neighbor}} description {{neighbor_config['description']}}
                    {% if neighbor_config['authentication-key'] -%}
                        set protocols bgp {{bgp_group}} neighbor {{neighbor}} authentication-key {{neighbor_config['authentication-key']}}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if protocols.ospf -%}
    {% if protocols.ospf.maximum_lsa -%}
set protocols ospf database-protection
set protocols ospf maximum-lsa {{protocols.ospf.maximum_lsa}}
    {% endif %}
    {% if protocols.ospf.import -%}
        set protocols ospf import {{protocols.ospf.import}}
    {% endif %}
    {% if protocols.ospf.export -%}
        set protocols ospf export {{protocols.ospf.export}}
    {% endif %}
    {% for area, area_config in protocols.ospf.areas.items() %}
        {% if area_config['maximum-lsa'] -%}
            set protocols ospf area {{area}} maximum-lsa {{area_config['maximum-lsa']}}
        {% endif %}
        {% for interface, interface_config in area_config.interfaces.items() %}
            {% if interface_config['passive'] == True -%}
                set protocols ospf area {{area}} interface {{interface}} passive
            {% endif %}
            {% if interface_config['metric'] -%}
                set protocols ospf area {{area}} interface {{interface}} metric {{interface_config['metric']}}
            {% endif %}
            {% if interface_config['interface-type'] -%}
                set protocols ospf area {{area}} interface {{interface}} interface-type {{interface_config['interface-type']}}
            {% endif %}
            {% if interface_config['authentication-key'] -%}
                set protocols ospf area {{area}} interface {{interface}} authentication md5 1 key {{interface_config['authentication-key']}}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if protocols.mpls %}
    {% for interface in protocols.mpls.interfaces -%}
        set protocols mpls interface {{interface}}
    {% endfor %}
{% endif %}
{% if protocols.ldp %}
    {% for interface in protocols.ldp.interfaces -%}
        set protocols ldp interface {{interface}}
    {% endfor %}
{% endif %}
{% if vrfs %}
    {% for vrf, vrf_config in vrfs.items() -%}
set routing-instances {{vrf}} vrf-table-label
set routing-instances {{vrf}} instance-type {{vrf_config['type']}}
        {% for interface in vrf_config.interfaces -%}
            set routing-instances {{vrf}} interface {{interface}}
        {% endfor %}
set routing-instances {{vrf}} route-distinguisher {{vrf_config['route_distinguisher']}}
set routing-instances {{vrf}} vrf-import {{vrf_config['import']}}
set routing-instances {{vrf}} vrf-export {{vrf_config['export']}}
        {% for route_type, route_attributes in vrf_config.routing_options.items() -%}
            set routing-instances {{vrf}} routing-options {{route_type}} route {{route_attributes['route']}} {% for option in route_attributes.options %}{{option}} {% endfor %}
        {% endfor +%}
set routing-instances {{vrf}} aggregate {{vrf_config['aggregate']}}
set routing-instances {{vrf}} router-id {{vrf_config['router-id']}}
        {% if vrf_config.ospf -%}
            {% if vrf_config.ospf.maximum_lsa -%}
set routing-instances {{vrf}} protocols ospf database-protection
set routing-instances {{vrf}} protocols ospf maximum-lsa {{vrf_config.ospf.maximum_lsa}}
            {% endif %}
            {% if vrf_config.ospf.import -%}
                set routing-instances {{vrf}} protocols ospf import {{vrf_config.ospf.import}}
            {% endif %}
            {% if vrf_config.ospf.export -%}
                set routing-instances {{vrf}} protocols ospf export {{vrf_config.ospf.export}}
            {% endif %}
            {% for area, area_config in vrf_config.ospf.areas.items() %}
                {% for interface, interface_config in area_config.interfaces.items() %}
                    {% if interface_config['passive'] == True -%}
                        set routing-instances {{vrf}} protocols ospf area {{area}} interface {{interface}} passive
                    {% endif %}
                    {% if interface_config['metric'] -%}
                        set routing-instances {{vrf}} protocols ospf area {{area}} interface {{interface}} metric {{interface_config['metric']}}
                    {% endif %}
                    {% if interface_config['interface-type'] -%}
                        set routing-instances {{vrf}} protocols ospf area {{area}} interface {{interface}} interface-type {{interface_config['interface-type']}}
                    {% endif %}
                    {% if interface_config['authentication-key'] -%}
                        set routing-instances {{vrf}} protocols ospf area {{area}} interface {{interface}} authentication md5 1 key {{interface_config['authentication-key']}}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if vrf_config.bgp %}
            {% for bgp_group, bgp_group_config in vrf_config.bgp.groups.items() %}
                {% for bgp_var_name, bgp_var_value in bgp_group_config.items() %}
                    {% if bgp_var_name != 'neighbors' and bgp_var_name != 'family' -%}
                        set routing-instances {{vrf}} protocols bgp {{bgp_group}} {{bgp_var_name}} {{bgp_var_value}}
                    {% endif %}
                    {% if bgp_var_name == 'neighbors' %}
                        {% for neighbor, neighbor_config in bgp_var_value.items() -%}
                            set routing-instances {{vrf}} protocols bgp {{bgp_group}} neighbor {{neighbor}} description {{neighbor_config['description']}}
                            {% if neighbor_config['authentication-key'] -%}
                                set routing-instances {{vrf}} protocols bgp {{bgp_group}} neighbor {{neighbor}} authentication-key {{neighbor_config['authentication-key']}}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if protocols.dot1x %}
    {% for dot1x_var_name, dot1x_var_value in protocols.dot1x.items() %}
        {% if dot1x_var_name != 'interfaces' -%}
            set protocols dot1x authenticator {{dot1x_var_name}} {{dot1x_var_value}}
        {% endif %}
    {% endfor %}
    {% for interface, interface_config in protocols.dot1x.interfaces.items() %}
        {% for interface_var_name, interface_var_value in interface_config.items() -%}
            set protocols dot1x authenticator interface {{interface}} {{interface_var_name}} {{interface_var_value}}
        {% endfor %}
    {% endfor %}
{% endif %}
{% if routing_options %}
    {% for route_type, route in routing_options.items() %}
        {% for route_name, route_options in route.items() -%}
            set routing-options {{route_type}} route {{route_name}} {% for option in route_options.options %}{{option}} {% endfor +%}
        {% endfor %}
    {% endfor %}
{% endif %}